<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home/style.css')}}">
	<link rel='icon' src='{{url_for("static",filename="img/edit.png")}}'>
	<link rel="icon" href="{{url_for('static',filename='IMG/OIP.png')}}" style="width:16px; height: 16px;">
	<title>NOTES</title>
	<style>
	   .nones{
	   margin-bottom:10px;
	   }
	   /**{
	   	font-family: "Poppins";
	   }*/
	</style>
	</head>
	<body>
        <div class="nav">
		   
	   		<div class="heads">
	   			<img src="{{url_for('static',filename='IMG/OIP1.png')}}">
	   			<h1>OTES</h1>
	   		</div>
	   

			<ul>
			    <li onclick="list()"> NEW</li>
				<!-- <li class="unwanted">|</li>
				
			    <li>CONTACT</li>
				<li class="unwanted">|</li>
			    <li>ABOUT US</li> -->
				
			
			</ul>
		</div>
		
		<div class='suck1'>
			{% for data in datas %}
			
			    <div class="text1">
				    
					<h2 class='nones'>{{data.TITLE}}</h2>
					<!-- <h5>Author</h5> -->
					<p>
				    {{data.CONTENT}}
				    
					</p>
					<div class="flex">
						
						<a href='{{url_for("delnote",id=data.ID)}}'>
							<button onclick= " return confirm('are You Going To Delete?')"   class="callit">
								Delete
							</button>
						</a>
						<a href='{{url_for("edit",id=data.ID)}}' >
							<button  class="edith" type="button">
								Edit
							</button>
						</a>
					</div>
			    </div>
			
			{%endfor%}
		</div>






		<div>
		    <button class="plus" id="new" >+</button>
		    <p class="name-button-1">NEW</p>	
		</div>
		
		<div class="popup" id="pop"></div>
		<div class="frm" id="form">
		<h1><b>Add A NOTE</b></h1>
		<form action='' method="post"> 
		    
		       
			    
			<input type="text " placeholder="Book Title " class ="btitle" name='input_title' value="{{datas.TITLE}}" required> 
			<!-- <input type="text " placeholder="Book Author " class="bname" name='input_author'  required> -->
			    
				
			
			    
			<textarea placeholder="description"  id="desc" class="cont" name='input_des' value="{{datas.CONTENT}}" required></textarea>
			    
			
			    
			<button  class="save" type="submit" onclick="submit()">save</button>
			
			<button id="cancel" class="cl" type="button" > cancel</button>
			
				
		
		    
		</form > 
		<!-- <div class="final">
			    <h3 class="x-mark" onclick="cancel1()" type="button" > × </h3>
			</div>
		</div> -->
		     
		
		
		












    </body>
	<script src="{{url_for('static',filename='script.js')}}">
	</script>
</html>